<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="../static/style.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
        <link rel="icon" type="image/png" href="../static/img/icon.png">
        
        <title>Bem Vindo</title>
    </head>

    <body>

        <i class="bi bi-list menu-mobile"></i>

        <aside id="header">
            <section class="myphoto">
                <div class="fundo-img">
                    <img id="fundo" src="../static/img/space-travel.gif" alt="">
                    <img id="profile" src="../static/img/marcosviana.png" alt="Foto de perfil Marcos Viana">
                </div>
                <h1>Marcos Viana</h1>
                <div id="icons-size">
                    <a target="_blank" href="https://gitlab.com/marcosap103"><img src="../static/img/gitlab.png" alt=""></a>
                    <a target="_blank" href="https://github.com/marcosvianaap"><img src="../static/img/github.png" alt=""></a>
                    <a target="_blank" href="https://www.instagram.com/marcoveioh/"><img src="../static/img/instagram.png" alt=""></a>
                </div>
            </section>
            
            <nav id='navbar' class="nav-menu">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#inicio"><i class="bi bi-house"
                                aria-hidden="true"></i>
                                Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#sobre"><i class="bi bi-person" aria-hidden="true"></i>
                            Sobre</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#habilidades"><i class="bi bi-list-check" aria-hidden="true"></i>
                            Habilidades</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#curriculo"><i class="bi bi-file-earmark" aria-hidden="true"></i>
                            Currículo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#portfolio"><i class="bi bi-collection" aria-hidden="true"></i>
                            Portfólio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contato"><i class="bi bi-envelope" aria-hidden="true"></i>
                            Contato</a>
                    </li>
                </ul>
            </nav>

        </aside>

        <main id="main">
                <!-- Primeira section, menu inicio -->
            <section id="inicio" class="row m-0 p-0">
                <div class="col-md-5 d-flex justify-content-center align-items-center flex-column">
                    <h2 class="text-white">Marcos Viana</h2>
                    <span id="subtitle" class="text-white">Desenvolvedor Java|Python, estudante, estágiario.</span>
                </div>
                <div class="col-md-7 d-flex justify-content-end align-items-end">
                    <div id="arraste" class="d-flex align-items-center">
                        <i class="bi bi-arrow-down text-white pe-2 fs-2" aria-hidden="true"></i>
                        <a href="#sobre">Role para ver mais</a>
                    </div>
                </div>
            </section>

                <!-- Segunda section, menu Sobre -->
            <section class="container mt-5" id='sobre'>
                <div class="row w-100">
                    <div class="col-md-12" animacao="down">
                        <h2 class='pt-3'>Sobre</h2>
                        <p>
                            Desenvolvedor Java, Python, estudante, estágiario. Amo aprender novas tecnologias, 
                            sou formado em Gestão da Tecnologia da Informação e atualmente 
                            estou na segunda graduação, desta vez em Ciência da Computação. 
                            
                            Trabalho com desenvolvimento web e amo o que faço.
                        </p>
                    </div>
                </div>
    
                <div class="row mt-4">
                    <div class="col-md-4">
                        <img class="img-fluid shadow" style="width: 340px;" src="../static/img/marcosviana.png" alt="" animacao="left">
                    </div>
                    <div class="col-md-8" animacao="right">
                        <h3>Programador</h3>
                        <br>
                        <div class="row mt-3 mb-3">
                            <div class="col-md-6">
                                <ul class="list-group list-group-flush fs-5">
                                    <li class="list-group-item">
                                        Niver: <span class="fw-lighter">02 de Março de
                                            1997</span>
                                    </li>
                                    <li class="list-group-item">
                                        Idade: <span class="fw-lighter">26 anos</span>
                                    </li>
                                    <li class="list-group-item">
                                        Cidade: <span class="fw-lighter">Blumenau</span>
                                    </li>
                                    <li class="list-group-item">
                                        Estado: <span class="fw-lighter">Santa Catarina</span>
                                    </li>
    
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul class="list-group list-group-flush fs-5">
                                    <li class="list-group-item">Trabalho: <span class="fw-lighter">Desenvolvimento web</span></li>
                                </ul>
                                <ul class="list-group list-group-flush fs-5">
                                    <li class="list-group-item">Hobby: <span class="fw-lighter">Basquetebol</span></li>
                                </ul>
                            </div>
                        </div>
    
                        <p>Além de Trabalhar com desenvolvimento web, também sou conhecedor de 
                        outras linguagens de programação, como python, C++, Java. 
                        O que me possibilita atuar junto ao back-and.
                        </p>
    
                    </div>
                </div>
            </section>

                <!-- Terceira section, menu habilidades -->
            <section class="mt-5 section-bg" id="habilidades">

                <div class="container pb-5">
                    <h2 class='pt-5'>Habilidades</h2>
                    <p>Como estudante eu procuro apreder novas habilidades técnicas,
                        e listo abaixo algumas, com a porcentagem que eu credito.
                    </p>
    
                   
                        
                            <p class='mt-3 mb-0'>HTML</p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="85"
                                    animacao="left" aria-valuemin="0" aria-valuemax="100">85%</div>
                            </div>
                            <p class="mt-3 mb-0">CSS</p>
                            <div class="progress">
                                <div class="progress-bar" animacao="left" role="progressbar" style="width: 85%;"
                                    aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%</div>
                            </div>
                            <p class="mt-3 mb-0">JavaScript</p>
                            <div class="progress">
                                <div class="progress-bar" animacao="left" role="progressbar" style="width: 80%;"
                                    aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
                            </div>
                            <p class="mt-3 mb-0">Python</p>
                            <div class="progress">
                                <div class="progress-bar" animacao="left" role="progressbar" style="width: 90%;"
                                    aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
                            </div>
                            <p class="mt-3 mb-0">Java</p>
                            <div class="progress">
                                <div class="progress-bar" animacao="left" role="progressbar" style="width: 70%;"
                                    aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
                            </div>
                            <p class="mt-3 mb-0">Git</p>
                            <div class="progress">
                                <div class="progress-bar" animacao="left" role="progressbar" style="width: 98%;"
                                    aria-valuenow="98" aria-valuemin="0" aria-valuemax="100">98%</div>
                            </div>
                            <p class="mt-3 mb-0">Flask</p>
                            <div class="progress">
                                <div class="progress-bar" animacao="left" role="progressbar" style="width: 80%;"
                                    aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
                            </div>
                        
                        
                            <p class="mt-3 mb-0">C++</p>
                            <div class="progress">
                                <div class="progress-bar" animacao="left" role="progressbar" style="width: 80%;"
                                    aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
                            </div>
                       
    
                    <hr class='w-50 me-auto ms-auto'>
    
                   
    
                </div>
    
            </section>
            
                <!-- Quarta section, menu currículo -->
            <section class="mt-5 cv" id="curriculo">

                <div class="container pb-5">
                    <h2 class="pt-3 pb-4">Currículo</h2>   
                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="cv-title">Educação</h3>
    
                            <div class='cv-item' animacao="up">
                                <h4>Bacharelado em Ciência da Computação</h4>
                                <h5>2021 - Atual</h5>
                                <p><em>Instituto Federal Catarinense</em></p>
                                <p> O Curso de Bacharelado em Ciência da Computação visa proporcionar
                                    formação abrangente e sólida no que tange o desenvolvimento de teorias, métodos, 
                                    linguagens, modelos, entre outras atividades que um cientista da computação 
                                    precisa para atuar na sociedade moderna. </p>
                            </div>
                            <div class='cv-item' animacao="up">
                                <h4>Tecnólogo em Gestão da Tecnologia da Informação</h4>
                                <h5>2018 - 2021</h5>
                                <p><em>Uniasselvi</em></p>
                                <p>O curso de tecnólogo em Gestão da Tecnologia da Informação
                                     possibilita a atuação como gestor de TI
                                      em empresas do setor público ou privado, e possui carga horária de 2067 horas.</p>
                            </div>  
                        </div>

                        <div class="col-md-6">
                            <h3 class="cv-title">Profissional</h3>
    
                            <div class='cv-item' animacao="up">
                                <h4>Estágio em Desenvolvimento web</h4>
                                <h5>2022 - atual</h5>
                                <p><em>Reitoia IFC</em></p>
                                <p>Atuando no desenvolvimento de projetos institucionais para a web.</p>
                            </div>                      
                        </div>
                    </div>
                </div> 
            </section>

                <!-- Quinta section, menu portfolio -->
            <section id="portfolio" class="section-bg mt-5">
                <div class="container pb-5 pt-5" animacao="left">
    
                    <h2 class="pb-4">Portfólio</h2>
    
                    <div id="carouselPortfolio" class="carousel carousel-dark slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="0" class="active"
                                aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active" data-bs-interval="10000">
    
                                <div class="row row-cols-1 row-cols-md-3 g-4">
                                    <div class="col">
                                        <div class="card">
                                            <img src="../static/img/breve.jpg" class="card-img-top" alt="">
                                            <div class="card-body">
                                                <h5 class="card-title">Em Breve</h5>
                                                <p class="card-text">Aguarde, em breve novos projetos</p>
                                                <div class="d-flex justify-content-center">
                                                    <a href="" target='_blank'
                                                        class="btn btn-outline-dark me-3"><i class="bi bi-github"></i></a>
                                                    <a href="" target='_blank'
                                                        class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="card">
                                            <img src="../static/img/breve.jpg" class="card-img-top" alt="">
                                            <div class="card-body">
                                                <h5 class="card-title">Em Breve</h5>
                                                <p class="card-text">Aguarde, em breve novos projetos</p>
                                                <div class="d-flex justify-content-center">
                                                    <a href="" target='_blank'
                                                        class="btn btn-outline-dark me-3"><i class="bi bi-github"></i></a>
                                                    <a href="" target='_blank'
                                                        class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="card">
                                            <img src="../static/img/breve.jpg" class="card-img-top" alt="">
                                            <div class="card-body">
                                                <h5 class="card-title">Em Breve</h5>
                                                <p class="card-text">Aguarde, em breve novos projetos</p>
                                                <div class="d-flex justify-content-center">
                                                    <a href="" target='_blank'
                                                        class="btn btn-outline-dark me-3"><i class="bi bi-github"></i></a>
                                                    <a href="" target='_blank'
                                                        class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
    
                            </div>
    
                            <div class="carousel-item" data-bs-interval="2000">
                                <div class="row row-cols-1 row-cols-md-3 g-4">
                                    <div class="col">
                                        <div class="card h-100">
                                            <img src="../static/img/breve.jpg" class="card-img-top" alt="">
                                            <div class="card-body">
                                                <h5 class="card-title">Em Breve</h5>
                                                <p class="card-text">Aguarde, em breve novos projetos</p>
                                                <div class="d-flex justify-content-center">
                                                    <a href="" target='_blank'
                                                        class="btn btn-outline-dark me-3"><i class="bi bi-github"></i></a>
                                                    <a href="" target='_blank'
                                                        class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="card h-100">
                                            <img src="../static/img/breve.jpg" class="card-img-top" alt="">
                                            <div class="card-body">
                                                <h5 class="card-title">Em Breve</h5>
                                                <p class="card-text">Aguarde, em breve novos projetos</p>
                                                <div class="d-flex justify-content-center">
                                                    <a href="" target='_blank'
                                                        class="btn btn-outline-dark me-3"><i class="bi bi-github"></i></a>
                                                    <a href="" target='_blank'
                                                        class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="card h-100">
                                            <img src="../static/img/breve.jpg" class="card-img-top" alt="">
                                            <div class="card-body">
                                                <h5 class="card-title">Em Breve</h5>
                                                <p class="card-text">Aguarde, em breve novos projetos</p>
                                                <div class="d-flex justify-content-center">
                                                    <a href="" target='_blank'
                                                        class="btn btn-outline-dark me-3"><i class="bi bi-github"></i></a>
                                                    <a href="" target='_blank'
                                                        class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
    
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselPortfolio"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselPortfolio"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
    
                </div>
            </section>

                <!-- Sexta section, tela de envio de email -->
            <section class="pt-5 pb-5" id="contato">
                <div class="container mb-5">
                    <h2 class='pt-3 pb-3'>Contato</h2> 
                    <div class="row"> 
                        <div class="col-md-5">
                            <div class="card p-5 shadow border-0" animacao="up">
                                <div class="endereco">
                                    <h4><i class="bi bi-geo-alt"></i> Localização:</h4>
                                    <p>Blumenau, SC</p>
                                </div>
    
                                <div class="email">
                                    <h4><i class="bi bi-envelope"></i> Email:</h4>
                                    <p>marcosap103@gmail.com</p>
                                </div>
                                <iframe
                                src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d8461.3230504354!2d-49.07272374187258!3d-26.91783303168032!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1spt-BR!2sbr!4v1684411473601!5m2!1spt-BR!2sbr"
                                width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                                class='w-100'></iframe>
                                
                            </div>
                        </div>   
                        <div class="col-md-7 mt-5 mt-md-0">
                            <div class="card p-5 h-100 shadow border-0" animacao="left">
    
                                <form class="row g-3" action='/send' method="POST">
                                    <div class="col-md-6">
                                        <label for="nome" class="form-label">Nome:</label>
                                        <input type="text" class="form-control" id="nome" name='nome'
                                            placeholder='Digite seu nome' required>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="email" class="form-label">Email:</label>
                                        <input type="email" class="form-control" id="email" name='email'
                                            placeholder='Digite seu email' required>
                                    </div>
    
                                    <div class="col-12">
                                        <label for="mensagem" class="form-label">Mensagem:</label>
                                        <textarea type="text" class="form-control" id="mensagem" name='mensagem' rows="10"
                                            placeholder="Digite sua mensagem" required></textarea>
                                    </div>
    
    
                                    <div class="col-12 d-flex justify-content-center mt-4">
                                        <button id='btn-enviar' type="submit" class="btn btn-primary">Enviar
                                            mensagem</button>
    
                                        <button id='btn-enviar-loader' class="btn btn-primary" type="button" disabled>
                                            <span class="spinner-border spinner-border-sm" role="status"
                                                aria-hidden="true"></span>
                                            Enviando...
                                        </button>
                                    </div>
                                </form>    
                            </div>
                        </div>    
                    </div>
                </div>    
            </section> 
            
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <div id="alerta" class="alert alert-success alert-dismissible fade show" role="alert">
                <i class="bi bi-check-circle-fill"></i> {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
        </main>

        <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="../static/script.js"></script>
    </body>
</html>